@import url('assets/css/clash-display.css');

/* Variables */
:root {
  --c-dark: #2b2a2a;
  --c-brand: #ED754C;
  --c-brand-light: #FAFAFA;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #676767;
  --font-base: "ClashDisplay", sans-serif;
  --box-shadow: 0px 5px 25px rgba(207, 207, 207, 0.15);
  --transition: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-base);
  color: var(--c-body);
  line-height: 1.7;
  transition: var(--transition);    
} 
 
h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  font-family: var(--font-base);
  color: var(--c-dark);
}

img {
  max-width: 100%;
  height: auto;
}

/* Section padding */
.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

/* Navbar */
.navbar {
  padding: 10px 0;
  background-color: var(--c-dark) !important;
  box-shadow: 0px 0px 25px rgb(237, 117, 76, 0.20);
  transition: var(--transition);
}

.navbar .navbar-toggler {
  border: 2px solid var(--c-brand);
}

.navbar .navbar-toggler:focus {
  outline: none; 
  box-shadow: none; 
}

.navbar .navbar-toggler-icon {
  filter: invert(90%) ;
  
}

.navbar-nav .nav-link {
  font-family: var(--font-base);
  font-size: 25px;
  font-weight: 500;
  color: var(--c-brand-light);
}

.navbar-nav .nav-link.active {
  color: var(--c-brand);
}

.navbar-nav .nav-link:hover {
  color: var(--c-brand);
}

/* Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(assets/images/Frame_18.png) no-repeat center center / cover;
  background-blend-mode: overlay ;
  width: fill-available;
  background-color : var(--c-dark);
}

.hero h1 {
  font-weight: 600;
  font-size: 120px;
  color: var(--c-brand-light);
  transition: var(--transition);
  line-height: 100px;
  margin-bottom: 30px;
}

.hero #comma {
  color: var(--c-brand);
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  transition: var(--transition);
}

.hero #rectangle {
  color: var(--c-brand);
  margin-bottom: 30px;
  margin-left: 10px;
  transition: var(--transition);
}

.hero h2 {
  font-size: 75px;
  font-weight: 800;
  color: var(--c-body);
  margin-left: 10px;
  margin-bottom: 10px;
}
.hero h1:hover{
  font-size: 110px;
  transition: var(--transition);
  line-height: 105px;
}

#contact_button {
  font-size: 30px;
  font-weight: 550;
  border: transparent;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--c-brand);
}

#contact_button:hover{
  background-color: var(--c-brand);
  color: var(--c-dark);
  box-shadow: 0px 5px 25px rgba(207, 207, 207, 0.15);
}

/* About */
.about {
  background-color: var(--c-dark);
}

#about_me{
  box-shadow: var(--box-shadow);
  margin-bottom: 30px;
  border-radius: 200px;
}

.about #name{
  color: var(--c-brand);
  font-weight: 550;
  margin-right: 3px;
  transition: var(--transition);
}

.about #name:hover{
  font-weight: 550;
  margin-right: 3px;
  font-size: larger;
  transition: var(--transition);
}
.about .photo_col{
  transition: ease-in-out 0.4s;
}

.about .photo_col:hover{
  transform: scale(0.9);
  transition:ease-in-out 0.4s;
}

.about h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--c-brand);
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.about .title_container {
  background: url(assets/images/About\ Me.png) no-repeat  center center ;
  background-blend-mode: soft-light ;
  background-color : var(--c-dark);
}

.about p {
  font-size: 20px;
  font-weight: 400;
  color: var(--c-brand-light);
  word-spacing: 3px;
}

.about .content {
  padding-bottom: 30px;
}

/* Skills */
.skills {
  background-color: var(--c-dark);
}

.skills .title {
  font-size: 50px;
  font-weight: 700;
  color: var(--c-brand);
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.skills .title_container {
  background: url(assets/images/Skills.png) no-repeat  center center ;
  background-blend-mode: soft-light ;
  background-color : var(--c-dark);
}

.skills .col {
  padding-left: 50px;
  padding-right: 50px;
}
.skills h3{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--c-brand-light);
}

.skills .progress{
  background-color: var(--c-body);
}

.skills .progress-bar{
  background-color: var(--c-brand);
}

.skills h5{
  font-size: 20px;
  font-weight: 400;
  color: var(--c-brand-body);
  display : flex;
  justify-content: right;
}

.skills .skill{
  margin-bottom: 50px;
  box-shadow: var(--box-shadow);
  padding : 25px;
  border-radius: 18px;
}

/*Contact*/
.contact {
  background-color: var(--c-dark);
}

.contact .title {
  font-size: 50px;
  font-weight: 700;
  color: var(--c-brand);
  margin-bottom: 50px;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.contact .title_container {
  background: url(assets/images/Contact.png) no-repeat center center;
  background-blend-mode: soft-light;
  background-color: var(--c-dark);
}

.contact .content {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  flex-direction: column; /* Stack items vertically */
}

.contact .form-label {
  font-size: 20px;
  font-weight: 500;
}

.contact .form-control {
  font-size: 20px;
  font-weight: 400;
  border: var(--c-brand-light) 3px transparent;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}

.contact .form-control:focus {
  border: #ED754C 2.5px solid;
  transition: linear 0.15s;
}

.contact .btn-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%;
}

.contact .btn {
  background-color: var(--c-brand);
  color: var(--c-brand-light);
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px;
  border: transparent;
  transition: var(--transition);
}

.contact .btn:hover {
  background-color: var(--c-brand);
  font-size: 30px;
  font-weight: 500;
  color: var(--c-dark);
  box-shadow: 0px 5px 25px rgba(207, 207, 207, 0.15);
  transition: var(--transition);
}
